/* styles/globals.css */

:root {
  --text-default-primary: rgba(3, 4, 8, 0.80);
  --text-default-secondary: #767B87;
  --text-default-brand: #6C7EA8;
  
  --text-action-primary: #3461C7;
  --text-action-secondary: #767B87;
  
  --surface-primary: hsla(0, 0%, 100%, 1);
  --surface-secondary: hsla(220, 20%, 98%, 1);
  --surface-tertiary: hsla(220, 33%, 96%, 1);

  --highlight-action-primary: hsla(270, 100%, 70%, .1);
  --accent-color: #FBBF24;
  --background-color: #E7E7EB;
  --text-color: #111827;
  --text-light-color: #6B7280;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans 3", sans-serif;
  background-color: var(--surface-primary);
}

