[data-theme="dark"] {

    /* BORDERS ---------------- */

    /* Default */
    --border-default-muted: var(--neutral-700);
    --border-default-bold: var(--neutral-600);

    /* Action */
    --border-action-muted: var(--brand-600);
    --border-action-bold: var(--brand-500);

    /* On Light */
    --border-on-light-muted: var(--neutral-400);
    --border-on-light-bold: var(--neutral-500);

    /* On Dark */
    --border-on-dark-muted: var(--white-60);
    --border-on-dark-bold: var(--white-95);


    
    /* BACKGROUNDS -------------------*/

    /* Default */
    --bg-default-primary: var(--neutral-800);
    --bg-default-secondary: var(--neutral-900);
    --bg-default-tertiary: var(--neutral-1000);
    --bg-default-highlight: var(--white-15);

    /* On Light */
    --bg-on-light-idle: var(--black-85);
    --bg-on-light-hover: var(--black-100);
    --bg-on-light-active: var(--black-70);
    --bg-on-light-highlight: var(--black-15);

    /* On Dark */
    --bg-on-dark-idle: var(--white-85);
    --bg-on-dark-hover: var(--white-100);
    --bg-on-dark-active: var(--white-70);
    --bg-on-dark-highlight: var(--white-15);

    /* Action */
    --bg-action-primary: var(--brand-500);
    --bg-action-secondary: var(--brand-700);
    --bg-action-hover: var(--brand-800);
    --bg-action-active: var(--brand-400);
    --bg-action-highlight: var(--brand-transparent-15);




    /* TEXT -------------------*/

    /* Default */
    --text-default-primary: var(--black-95);
    --text-default-secondary: var(--black-70);
    --text-default-disabled: var(--black-60);

    /* Inverse */
    --text-inverse-primary: var(--white-95);
    --text-inverse-secondary: var(--white-70);
    --text-inverse-disabled: var(--white-60);

    /* On Dark */
    --text-on-dark-primary: hsla(0, 0%, 100%, 0.95);
    --text-on-dark-secondary: hsla(0, 0%, 100%, 0.75);
    --text-on-dark-disabled: hsla(0, 0%, 100%, 0.5);

    /* On Light */
    --text-on-light-primary: hsla(0, 0%, 0%, 0.95);
    --text-on-light-secondary: hsla(0, 0%, 0%, 0.75);
    --text-on-light-disabled: hsla(0, 0%, 0%, 0.5);

    /* Brand */
    --text-brand-primary: var(--brand-500);
    --text-brand-hover: var(--brand-400);
    --text-brand-active: var(--brand-600);



    /* SHADOWS -------------------*/

    /* Regular */
    --shadow-regular-level-1: hsla(0, 0%, 0%, 0.5);

    /* Action */
    --shadow-action-level-1: hsla(214, 75%, 36%, 0.2);


    /* UTILITIES -------------------*/

    --util-image-overlay: hsla(0, 0%, 0%, 1);
}
