[data-theme="dark"] {

    /* BORDERS ---------------- */

    /* Default */
    --border-default-muted: var(--neutral-700);
    --border-default-bold: var(--neutral-600);

    /* Action */
    --border-action-muted: var(--brand-600);
    --border-action-bold: var(--brand-500);

    /* On Light */
    --border-on-light-muted: var(--transparent-black-level-3);
    --border-on-light-bold: var(--transparent-black-level-4);

    /* On Dark */
    --border-on-dark-muted: var(--transparent-white-level-3);
    --border-on-dark-bold: var(--transparent-white-level-4);


    
    /* BACKGROUNDS -------------------*/

    /* Default */
    --bg-default-primary: var(--neutral-800);
    --bg-default-secondary: var(--neutral-900);
    --bg-default-tertiary: var(--neutral-1000);
    --bg-default-highlight: var(--white-15);

    /* On Light */
    --bg-on-light-idle: var(--transparent-black-level-6);
    --bg-on-light-hover: var(--transparent-black-level-5);
    --bg-on-light-active: var(--transparent-black-level-4);
    --bg-on-light-highlight: var(--transparent-black-level-1);
    
    /* On Dark */
    --bg-on-dark-idle: var(--transparent-white-level-6);
    --bg-on-dark-hover: var(--transparent-white-level-5);
    --bg-on-dark-active: var(--transparent-white-level-4);
    --bg-on-dark-highlight: var(--transparent-white-level-1);

    /* Action */
    --bg-action-primary: var(--brand-500);
    --bg-action-secondary: var(--brand-700);
    --bg-action-hover: var(--brand-800);
    --bg-action-active: var(--brand-400);
    --bg-action-highlight: var(--transparent-brand-level-1);



    /* TEXT -------------------*/

    /* Default */
    --text-default-primary: var(--transparent-white-level-6);
    --text-default-secondary: var(--transparent-white-level-5);
    --text-default-disabled: var(--transparent-white-level-4);
    
    /* Inverse */
    --text-inverse-primary: var(--transparent-black-level-6);
    --text-inverse-secondary: var(--transparent-black-level-5);
    --text-inverse-disabled: var(--transparent-black-level-4);
    
    /* On Dark */
    --text-on-dark-primary: var(--transparent-white-level-6);
    --text-on-dark-secondary: var(--transparent-white-level-5);
    --text-on-dark-disabled: var(--transparent-white-level-4);
    
    /* On Light */
    --text-on-light-primary: var(--transparent-black-level-6);
    --text-on-light-secondary: var(--transparent-black-level-5);
    --text-on-light-disabled: var(--transparent-black-level-4);

    /* Brand */
    --text-brand-primary: var(--brand-500);
    --text-brand-hover: var(--brand-400);
    --text-brand-active: var(--brand-600);



    /* SHADOWS -------------------*/

    /* Regular */
    --shadow-regular-level-1: var(--transparent-black-level-2);

    /* Action */
    --shadow-action-level-1: hsla(214, 75%, 36%, 0.2);


    /* UTILITIES -------------------*/

    --util-image-overlay: hsla(0, 0%, 0%, 1);
}
