@import './tokens/primitives.css';
@import './tokens/semantic.theme.light.css';
@import './tokens/semantic.theme.dark.css';

:root {

  /* Spacing (rem-based) */
  --spacing-2xs: 0.125rem; /* 2px */
  --spacing-xs: 0.25rem;   /* 4px */
  --spacing-sm: 0.5rem;    /* 8px */
  --spacing-md: 0.75rem;   /* 12px */
  --spacing-lg: 1rem;      /* 16px */
  --spacing-xl: 1.5rem;    /* 24px */
  --spacing-2xl: 2rem;     /* 32px */
  --spacing-3xl: 3rem;     /* 48px */
  --spacing-4xl: 4rem;     /* 64px */
  --spacing-5xl: 6rem;     /* 96px */
  --spacing-6xl: 8rem;     /* 128px */

  /* Border Radius (rem-based) */
  --border-radius-sm: 0.25rem;  /* 4px */
  --border-radius-md: 0.5rem;   /* 8px */
  --border-radius-lg: 1rem;     /* 16px */


  --shadow-default-level-1: 
    0px 2px 8px 0px var(--shadow-regular-level-1);
  
  --shadow-default-level-2:
    0px 2px 4px 0px var(--shadow-regular-level-1), 
    0px 4px 12px 0px var(--shadow-regular-level-1);

  --shadow-default-level-3: 
    0px 4px 8px 0px var(--shadow-regular-level-1), 
    0px 8px 20px 0px var(--shadow-regular-level-1);

}


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans 3", sans-serif;
  background-color: var(--surface-default-tertiary);
  color: var(--text-default-primary);
}

html, body {
	overflow-x: hidden;
	width: 100%;
}

a {
  color: var(--text-action-primary);
  text-decoration: none;
}


.display-large {
  font-family: var(--font-league-spartan);        /* "League Spartan", sans-serif; */
  font-size: var(--font-size-5xl);                /* 64px */
  font-weight: var(--font-weight-semibold);         /* font-weight: 500; */
  line-height: var(--font-line-height-3xl);       /* 64px */
  letter-spacing: var(--font-letter-spacing-xs);  /* -0.005em */
  text-transform: uppercase;
}

.heading-h1 {
  font-family: var(--font-league-spartan);        /* "League Spartan", sans-serif; */
  font-size: var(--font-size-4xl);                /* 40px */
  font-weight: var(--font-weight-regular);        /* font-weight: 400; */
  line-height: var(--font-line-height-2xl);       /* 44px */
  letter-spacing: var(--font-letter-spacing-xs);  /* -0.01em */
}

.heading-h2 {
  font-family: var(--font-league-spartan);        /* "League Spartan", sans-serif; */
  font-size: var(--font-size-3xl);                /* 32px */
  font-weight: var(--font-weight-regular);        /* font-weight: 400; */
  line-height: var(--font-line-height-xl);        /* 36px */
  letter-spacing: var(--font-letter-spacing-xs);  /* -0.01em */
}

.heading-h3 {
  font-family: var(--font-league-spartan);        /* "League Spartan", sans-serif; */
  font-size: var(--font-size-2xl);                /* 24px */
  font-weight: var(--font-weight-medium);         /* font-weight: 500; */
  line-height: var(--font-line-height-lg);        /* 28px */
  letter-spacing: var(--font-letter-spacing-sm);  /* 0em */
}

.heading-h4 {
  font-family: var(--font-league-spartan);        /* "League Spartan", sans-serif; */
  font-size: var(--font-size-lg);                 /* 18px */
  font-weight: var(--font-weight-medium);         /* font-weight: 500; */
  line-height: var(--font-line-height-md);        /* 20px */
  letter-spacing: var(--font-letter-spacing-md);  /* 0.01em */
}

.heading-h5 {
  font-family: var(--font-source-sans-3);         /* "Source Sans 3", sans-serif; */
  font-size: 1rem;         /* 16px */
  font-style: normal;
  font-weight: 700;
  line-height: 1.25rem;    /* 20px */
  letter-spacing: 0.01rem; /* 0.16px */
}

.heading-h6 {
  font-family: var(--font-source-sans-3);         /* "Source Sans 3", sans-serif; */
  font-size: 0.875rem;     /* 14px */
  font-style: normal;
  font-weight: 700;
  line-height: 1.25rem;    /* 20px */
  letter-spacing: 0.02rem; /* 0.28px */
}

.body-xl {
  font-family: var(--font-source-sans-3);         /* "Source Sans 3", sans-serif; */
  font-size: 1.25rem;      /* 20px */
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;     /* 24px */
  letter-spacing: 0.0125rem; /* 0.2px */
}

.body-lg {
  font-family: var(--font-source-sans-3);         /* "Source Sans 3", sans-serif; */
  font-size: 1.125rem;     /* 18px */
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;     /* 24px */
  letter-spacing: 0.01125rem; /* 0.18px */
}

.body-md {
  font-family: var(--font-source-sans-3);         /* "Source Sans 3", sans-serif; */
  font-size: 1rem;         /* 16px */
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;     /* 24px */
  letter-spacing: 0.015rem; /* 0.24px */
}

.body-sm {
  font-family: var(--font-source-sans-3);         /* "Source Sans 3", sans-serif; */
  font-size: 0.875rem;     /* 14px */
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;    /* 20px */
  letter-spacing: 0.0175rem; /* 0.28px */
}

.caption {
  font-family: var(--font-source-sans-3);         /* "Source Sans 3", sans-serif; */
  font-size: 0.75rem;      /* 12px */
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;       /* 16px */
  letter-spacing: 0.015rem; /* 0.24px */
}

.button-text-md {
  font-family: var(--font-league-spartan);        /* "League Spartan", sans-serif; */
  font-size: 1.25rem;      /* 20px */
  font-style: normal;
  font-weight: 500;
  line-height: 1.125rem;   /* 18px */
  letter-spacing: 0.0125rem; /* 0.2px */
}